#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&trans  &kp Q   &kp W   &kp E   &kp R   &kp T                                                   &kp Y   &kp U   &kp I   &kp O   &kp P   &trans
&trans  &kp A   &kp S   &kp D   &kp F   &kp G                                                   &kp H   &kp J   &kp K   &kp L   &trans  &trans
&trans  &kp Z   &kp X   &kp C   &kp V   &kp B                                                   &kp N   &kp M   &trans  &trans  &trans  &trans
                &trans  &trans                                                                                  &trans  &trans
                                                &trans  &trans  &trans  &trans  &trans  &trans
                                                &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
